@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
body{
  background-color:#f2c261;
}
.App {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  
  
}
h1{
  font-family: 'Arizonia', cursive;
  font-size: 70px;
  color: red;
}
h2{
  font-family: 'Arizonia', cursive;
  font-size: 40px;
}
.users{
  display:inline-block;

}
.user{
  margin-bottom: 50px;
  border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border: 5px solid #de2859;
}